<!DOCTYPE html>
<html>
  <head>
    <title>textlint AST explorer</title>
    <meta charset="UTF-8">
    <meta name="description" content="An online AST explorer.">
    <%= htmlWebpackPlugin.files.webpackManifest %>
    <!-- Hide Save -->
    <style>
      #Toolbar > div:nth-child(2) > ul > li:nth-child(2){
        display:none!important;
      }
    </style>
  </head>
  <body>
    <div id="page">
      <div id="container"></div>
      <div id="contribution">
        Built with
        <a href="https://reactjs.org/">React</a>,
        <a href="https://babeljs.io/">Babel</a>,
        <a href="https://fontawesome.com/">Font Awesome</a>,
        <a href="https://codemirror.net/">CodeMirror</a>,
        <a href="https://expressjs.com/">Express</a>,
        and
        <a href="https://webpack.js.org/">webpack</a>
        |
        <a href="https://github.com/textlint/astexplorer">GitHub</a>
        |
        <span>@@COMMIT@@</span>
      </div>
    </div>
  </body>
</html>
